In [5]:
import requests
import sqlite3
import json
import pandas as pd


response = requests.get('http://api.openweathermap.org/data/2.5/weather?q=Kyiv&appid=854bfd100cd66f846501327373fc6a02&units=metric&lang=en')
weather_data = response.json()

In [6]:
weather_data

{'coord': {'lon': 30.5167, 'lat': 50.4333},
 'weather': [{'id': 802,
   'main': 'Clouds',
   'description': 'scattered clouds',
   'icon': '03d'}],
 'base': 'stations',
 'main': {'temp': 1.51,
  'feels_like': 1.51,
  'temp_min': 1.51,
  'temp_max': 3.14,
  'pressure': 1012,
  'humidity': 96,
  'sea_level': 1012,
  'grnd_level': 995},
 'visibility': 10000,
 'wind': {'speed': 0.45, 'deg': 317, 'gust': 1.34},
 'clouds': {'all': 41},
 'dt': 1736579172,
 'sys': {'type': 2,
  'id': 2003742,
  'country': 'UA',
  'sunrise': 1736574899,
  'sunset': 1736604976},
 'timezone': 7200,
 'id': 703448,
 'name': 'Kyiv',
 'cod': 200}

In [9]:
conn = sqlite3.connect('weather.db')
cursor = conn.cursor()

In [10]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS weather (
    id INTEGER PRIMARY KEY,
    city TEXT,
    temperature REAL,
    description TEXT,
    data JSON
)
''')

In [11]:
cursor.execute('''
INSERT INTO weather (city, temperature, description, data)
VALUES (?, ?, ?, ?)
''', (
    weather_data['name'],
    weather_data['main']['temp'],
    weather_data['weather'][0]['description'],
    json.dumps(weather_data)
))

In [12]:
conn.commit()
conn.close()

In [19]:
query = """
SELECT
    city,
    json_extract(data, '$.weather[0].description') AS description
FROM
    weather;
"""

In [14]:
conn = sqlite3.connect('weather.db')

In [20]:
df = pd.read_sql_query(query, conn)

In [21]:
df

,id,city,temperature,description,data
0,1,Kyiv,8.73,moderate rain,"{""coord"": {""lon"": 30.5167, ""lat"": 50.4333}, ""w..."